/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
}

/*footer headings*/
.h3 {
    color: black;
    background-color: black;
}

/*display card items in-line(rows)*/
.card {
    display: inline-block;
}

/*container class for card items*/
.container {
    width: 1500px;
}

/*footer*/
.row {
    color: white;
    background-color: black;
    height: 300px;
    margin-top: 50px;
}

.col-sm-4 {
    margin-left: 120px;
    margin-top: 80px;
}

.col {
    margin-top: 80px;
    margin-left: 100px;
}

/*style of 'Recommended Products' heading*/
.products {
    background-color: black;
    color: white;
}

/*search bar*/
.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 50px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #00B4CC;
}

.searchButton {
    width: 60px;
    height: 50px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: black;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Navigation bar and heading*/
.navbar navbar-expand-sm bg-dark navbar-dark {
    background-color: black;
}

.headings{
    margin-left: 1000px;
    display: inline;
}

.navbar-nav{
    background-color: black !important;
}
.bg-dark{
    background-color: black !important;
}
.nav-link{
    color: white !important;
}

/*Name of the website*/
.theName{
    color: white;
    margin-left: 100px;
}

/*drop down currency button*/
.currency{
    background-color: #343a40;
    margin-top: 5px;
    color: #e9ecef;
}
/*adjust size of carousel item*/
.carousel-item{
    height: 700px !important;
}